// Override Boostrap variables
// Import Bootstrap source files from node_modules
@import 'node_modules/bootstrap/scss/bootstrap';
body {
    background: #fafafa;
    margin: 0;
}

a {
    color: #533f03;
    font-weight: bold;
}

* {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    &:after,
    &::before {
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
}

.app-container {
    box-sizing: border-box;
    .view-container {
        width: 100%;
        height: calc(100% - 40px);
        overflow-y: auto;
        overflow-x: hidden;
        padding: 1rem;
        .card {
            padding: 1rem;
        }
        .view-routes {
            height: 100%;
            >div {
                height: 100%;
            }
        }
    }
}

.fullscreen {
    position: fixed;
    top: 100px;
    left: 0px;
    width: 99% !important;
    height: calc(100vh - 110px) !important;
    margin: 5px;
    z-index: 1000;
    padding: 5px 25px 50px 25px !important;
}


/* ==========================================================================
Browser Upgrade Prompt
========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
Custom button styles
========================================================================== */

.icon-button>.btn {
    background-color: transparent;
    border-color: transparent;
    padding: 0.5rem;
    line-height: 1rem;
    &:hover {
        background-color: transparent;
        border-color: transparent;
    }
    &:focus {
        -webkit-box-shadow: none;
        box-shadow: none;
    }
}


/* ==========================================================================
Generic styles
========================================================================== */


/* Temporary workaround for availity-reactstrap-validation */

.invalid-feedback {
    display: inline;
}


/* other generic styles */

.title {
    font-size: 1.25em;
    margin: 1px 10px 1px 10px;
}

.description {
    font-size: 0.9em;
    margin: 1px 10px 1px 10px;
}

.shadow {
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px;
    border-radius: 2px;
}

.error {
    color: white;
    background-color: red;
}

.break {
    white-space: normal;
    word-break: break-all;
}

.break-word {
    white-space: normal;
    word-break: keep-all;
}

.preserve-space {
    white-space: pre-wrap;
}


/* padding helpers */

@mixin pad($size, $side) {
    @if $size=='' {
        @if $side=='' {
            .pad {
                padding: 10px !important;
            }
        }
        @else {
            .pad {
                padding-#{$side}: 10px !important;
            }
        }
    }
    @else {
        @if $side=='' {
            .pad-#{$size} {
                padding: #{$size}px !important;
            }
        }
        @else {
            .pad-#{$side}-#{$size} {
                padding-#{$side}: #{$size}px !important;
            }
        }
    }
}

@include pad('', '');
@include pad('2', '');
@include pad('3', '');
@include pad('5', '');
@include pad('10', '');
@include pad('20', '');
@include pad('25', '');
@include pad('30', '');
@include pad('50', '');
@include pad('75', '');
@include pad('100', '');
@include pad('4', 'top');
@include pad('5', 'top');
@include pad('10', 'top');
@include pad('20', 'top');
@include pad('25', 'top');
@include pad('30', 'top');
@include pad('50', 'top');
@include pad('75', 'top');
@include pad('100', 'top');
@include pad('4', 'bottom');
@include pad('5', 'bottom');
@include pad('10', 'bottom');
@include pad('20', 'bottom');
@include pad('25', 'bottom');
@include pad('30', 'bottom');
@include pad('50', 'bottom');
@include pad('75', 'bottom');
@include pad('100', 'bottom');
@include pad('5', 'right');
@include pad('10', 'right');
@include pad('20', 'right');
@include pad('25', 'right');
@include pad('30', 'right');
@include pad('50', 'right');
@include pad('75', 'right');
@include pad('100', 'right');
@include pad('5', 'left');
@include pad('10', 'left');
@include pad('20', 'left');
@include pad('25', 'left');
@include pad('30', 'left');
@include pad('50', 'left');
@include pad('75', 'left');
@include pad('100', 'left');
@mixin no-padding($side) {
    @if $side=='all' {
        .no-padding {
            padding: 0 !important;
        }
    }
    @else {
        .no-padding-#{$side} {
            padding-#{$side}: 0 !important;
        }
    }
}

@include no-padding('left');
@include no-padding('right');
@include no-padding('top');
@include no-padding('bottom');
@include no-padding('all');

/* end of padding helpers */

.no-margin {
    margin: 0px;
}

@mixin voffset($size) {
    @if $size=='' {
        .voffset {
            margin-top: 2px !important;
        }
    }
    @else {
        .voffset-#{$size} {
            margin-top: #{$size}px !important;
        }
    }
}

@include voffset('');
@include voffset('5');
@include voffset('10');
@include voffset('15');
@include voffset('30');
@include voffset('40');
@include voffset('60');
@include voffset('80');
@include voffset('100');
@include voffset('150');
.readonly {
    background-color: #eee;
    opacity: 1;
}


/* ==========================================================================
make sure browsers use the pointer cursor for anchors, even with no href
========================================================================== */

a:hover {
    cursor: pointer;
}

.hand {
    cursor: pointer;
}

button.anchor-btn {
    background: none;
    border: none;
    padding: 0;
    align-items: initial;
    text-align: initial;
    width: 100%;
}

a.anchor-btn:hover {
    text-decoration: none;
}


/* ==========================================================================
Metrics and Health styles
========================================================================== */

#threadDump .popover,
#healthCheck .popover {
    top: inherit;
    display: block;
    font-size: 10px;
    max-width: 1024px;
}

.thread-dump-modal-lock {
    max-width: 450px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#healthCheck .popover {
    margin-left: -50px;
}

.health-details {
    min-width: 400px;
}


/* bootstrap 3 input-group 100% width
http://stackoverflow.com/questions/23436430/bootstrap-3-input-group-100-width */

.width-min {
    width: 1% !important;
}


/* jhipster-needle-scss-add-main JHipster will add new css style */

@import url('assets/fonts/font.css');
@import url('assets/fontawesome/css/all.css');
@import url('assets/fontello-dp/css/dubai-police-icon.css');
// Custom CSS for DP Theme
.main {
    margin: 40px 0 0;
    position: relative;
    z-index: 0;
    transition-duration: .3s;
    .inner-container {
        //width: 100%;
        margin: 0 3.5rem;
        background-color: #fff;
        border-top-left-radius: 18px;
        border-top-right-radius: 18px;
        box-shadow: 0 0 10px 1px #1b1b1b4d;
        .wrapper {
            display: flex;
            align-items: stretch;
            width: 100%;
            margin: 0 auto;
            // text-align: right;
            position: relative;
        }
    }
}

.sticky-cont {
    display: block;
    height: calc(100vh - 100px);
    padding-bottom: 10px;
    overflow: hidden;
}

.sticky-cont-scroll {
    width: 100%;
    overflow: auto;
    overflow-y: hidden;
    overflow-x: hidden;
    border-left: 0px solid #fff;
}

.scroll-content {
    height: calc(100vh - 148px);
    overflow-x: hidden;
    overflow-y: auto;
    position: relative;
    &:hover {
        &::-webkit-scrollbar {
            opacity: 1;
        }
        &::-webkit-scrollbar-track-piece {
            background: #e5e5e5;
        }
        &::-webkit-scrollbar-thumb {
            background: #acacac;
        }
    }
    &::-webkit-scrollbar {
        width: 5px;
        height: 5px;
        opacity: 0;
    }
    &::-webkit-scrollbar-button {
        background: 0 0;
    }
    &::-webkit-scrollbar-track-piece {
        background: transparent;
        border-radius: 5px;
        margin-top: -16px;
        opacity: 0;
    }
    &::-webkit-scrollbar-thumb {
        background: transparent;
        border-radius: 10px;
        opacity: 0;
    }
}

.services .content-main {
    border-top-right-radius: 16px;
    .content-header {
        border-top-right-radius: 16px;
    }
    #sidebarLeftCollapse {
        display: none;
    }
}

.content-main {
    width: 100%;
    overflow: hidden;
    padding: 0px;
    min-height: 100vh;
    transition: all 0.3s;
    background-color: #e5e5e5;
    position: relative;
    // border-top-left-radius: 22px;
    .content-header {
        display: flex;
        position: relative;
        height: 48px;
        background-color: #fff;
        margin-right: 0;
        box-shadow: 0 5px 10px -3px rgba(0, 0, 0, 0.3);
        z-index: 102;
        .collapse-right-btn {
            border: none;
            color: rgba(0, 0, 0, 0.87);
            background-color: transparent;
            padding: 14px 14px 10px;
            width: 48px;
            height: 48px;
            overflow: hidden;
            text-align: center;
            cursor: pointer;
            border-right: 1px solid #f1f1f1;
            border-left: 1px solid #f1f1f1;
            margin: 0;
            font-size: 23px;
            i {
                display: flex;
                align-items: center;
                justify-content: flex-end;
            }
            &:focus {
                outline: none;
                border-radius: none;
            }
        }
        .nav-hide {
            display: none;
        }
        .nav-open {
            font-size: 30px;
            padding: 0px 0px 0px 0px;
            margin-top: -4px;
        }
        .collapse-search {
            border: none;
            color: rgba(0, 0, 0, 0.87);
            background-color: transparent;
            padding: 1px 0px 0px 0px;
            cursor: pointer;
            margin: 0;
            font-size: 23px;
            width: 48px;
            .material-icons {
                font-weight: bold;
            }
            i {
                width: 48px;
                height: 48px;
                padding-right: 8px;
                display: flex;
                align-items: center;
                justify-content: flex-end;
            }
            &:hover,
            &:focus,
            &:active {
                outline: none;
                border: none;
            }
        }
        nav {
            width: -webkit-fill-available;
        }
        .breadcrumb {
            background-color: transparent;
            margin-bottom: 0;
            padding: 10px 0;
            .breadcrumb-item {
                color: rgba(#000000, .87);
                font-family: bukraregular;
                font-size: 14px;
                display: inline-flex;
                align-items: center;
                cursor: pointer;
                a {
                    color: rgba(#000000, .87);
                    &:hover {
                        text-decoration: none;
                    }
                }
                &:before {
                    display: inline-block;
                    padding-right: .5rem;
                    color: rgba(#000000, .87);
                    font-family: 'Material Icons';
                    content: "\e314";
                    font-size: 24px;
                    padding-left: .5rem;
                }
                &:nth-child(1):before {
                    content: "\e88a";
                }
            }
            .breadcrumb-item.active {
                font-weight: bold;
                color: #000;
                margin-right: 2px;
                cursor: inherit;
            }
        }
    }
    .contenet-area {
        width: 100%;
        padding: 30px 25px 25px;
        position: relative;
    }
}

// Sidebar Right
.sidebar-right {
    background-color: #fff;
    // width: 282px;
    border-top-left-radius: 16px;
    transition: all 0.2s ease;
    position: relative;
    box-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .20) !important;
    z-index: 102;
    .main-logo {
        width: 100%;
        height: 48px;
        transition: all 0.2s ease;
        overflow: hidden;
        a {
            text-decoration: none;
            img {
                width: 28px;
                margin: 10px;
            }
            span {
                font-size: 14px;
                color: #000000;
                font-family: bukrabold;
                vertical-align: middle;
                cursor: pointer;
            }
        }
    }
    .footer-settings {
        transition: all 0.2s ease;
        display: flex;
        position: fixed;
        bottom: 0;
        border-top: 1px solid #ccc;
        width: 282px;
        z-index: 2;
        background: #FFF;
        a {
            padding: 12px 10px 10px 10px;
            padding-inline-start: 8px;
            font-size: 12px;
            height: 44px;
            width: 100%;
            display: block;
            color: #009c62;
            text-decoration: none;
            border-bottom: 1px solid #eaeaea;
            transition: all 0.2s ease;
            line-height: normal;
            &:hover {
                background: rgba(0, 0, 0, 0.15);
            }
            i {
                margin-inline-end: 20px;
                font-size: 20px;
                display: inline-block;
                width: 22px;
                height: 22px;
                padding-inline-start: 5px;
            }
            label {
                font-size: 12px;
                font-family: bukraregular;
                color: #030000;
                font-weight: normal !important;
                margin-bottom: 0px;
                cursor: pointer;
            }
        }
    }
    .accordian {
        background: #ffffff;
        width: 282px;
        color: #008356;
        padding-bottom: 10px;
        border-top: 1px solid #eaeaea;
        font-family: bukraregular;
        box-shadow: inset 0px 3px 5px 0px rgba(0, 0, 0, 0.1);
        ul {
            padding: 0;
            li {
                position: relative;
                list-style-type: none;
                &.active {
                    h3 {
                        a {
                            color: #fff;
                            background-color: #0da06e;
                            background: linear-gradient(to right, #0da06e, #0da06e 100%) !important;
                            box-shadow: 0 4px 5px -2px rgba(0, 0, 0, 0.3);
                            label {
                                color: #fff !important;
                                transition: all 0.2s ease;
                            }
                            i {
                                &.left_icon {
                                    color: #fff !important;
                                    transform: rotate(180deg);
                                    top: 6px;
                                }
                            }
                            &:hover {
                                background: black;
                            }
                        }
                    }
                }
                h3 {
                    margin: 0px;
                    transition: all 0.2s ease;
                    a {
                        padding: 12px 7px;
                        padding-inline-start: 11px;
                        font-size: 12px;
                        // line-height: 34px;
                        height: 48px;
                        display: block;
                        color: #009c62;
                        text-decoration: none;
                        // border-bottom: 1px solid #eaeaea;
                        transition: all 0.2s ease;
                        line-height: normal;
                        label {
                            font-size: 14px;
                            color: #030000;
                            font-weight: normal !important;
                            margin-bottom: 0;
                            vertical-align: -webkit-baseline-middle;
                            margin-bottom: 0px;
                            cursor: pointer;
                            vertical-align: top;
                            line-height: 24px;
                            display: inline-block;
                            max-width: 160px;
                            white-space: nowrap;
                            text-overflow: ellipsis;
                            overflow: hidden;
                        }
                        i {
                            margin-inline-end: 18px;
                            font-size: 18px;
                            display: inline-block;
                            width: 18px;
                            height: 18px;
                            padding-inline-start: 2px;
                            line-height: 0.75em;
                            &.left_icon {
                                left: 0;
                                top: 0;
                                right: auto;
                                font-size: 16px !important;
                                position: relative;
                                float: right;
                                transition: all 0.2s ease;
                                margin-inline-end: 10px;
                                color: #000;
                                line-height: 1.2em;
                            }
                            &:before {
                                vertical-align: sub;
                            }
                        }
                        span {
                            position: absolute;
                            background-color: #f0b323;
                            width: 16px;
                            border-radius: 50%;
                            height: 16px;
                            text-align: center;
                            color: #fff;
                            font-size: 10px;
                            top: 15px;
                            font-family: bukrabold, sans-serif;
                            line-height: 16px;
                            right: 40px;
                        }
                    }
                    &:hover {
                        text-shadow: 0 0 1px rgba(255, 255, 255, 0.7);
                        background: rgba(0, 0, 0, 0.15);
                    }
                }
                ul {
                    display: none;
                    overflow: hidden;
                    li {
                        &:focus {
                            a {
                                background-color: rgba(0, 0, 0, 0.10);
                                border-left: 4px solid #149561;
                                transition: all 0.2s ease;
                            }
                        }
                        &.active {
                            a {
                                background-color: rgba(0, 0, 0, 0.10);
                                border-right: 4px solid #149561;
                                transition: all 0.2s ease;
                                i {
                                    &.left_icon {
                                        transform: rotate(180deg);
                                        right: 15px;
                                    }
                                }
                                label {
                                    font-weight: bold;
                                }
                            }
                        }
                        a {
                            color: #555555;
                            text-decoration: none;
                            cursor: pointer;
                            font-size: 12px;
                            display: block;
                            padding-top: 14px;
                            padding-bottom: 14px;
                            padding-inline-end: 5px;
                            padding-inline-start: 10px;
                            transition: all 0.3s;
                            position: relative;
                            background-color: #f3f3f3;
                            border-left: 4px solid #f3f3f3;
                            // border-bottom: 1px solid #eaeaea;
                            label {
                                color: #030000;
                                font-size: 12px;
                                border: 0px solid;
                                font-weight: normal;
                                margin-bottom: 0px;
                                cursor: pointer;
                                line-height: 17px;
                                max-width: 170px;
                                white-space: nowrap;
                                text-overflow: ellipsis;
                                overflow: hidden;
                            }
                            i {
                                border: 0px solid;
                                border: 0px solid;
                                font-size: 17px;
                                line-height: 1;
                                padding-inline-end: 10px;
                                vertical-align: top;
                                // &.icon {
                                //     display: none;
                                // }
                                &.left_icon {
                                    left: 6px;
                                    top: 2px;
                                    right: auto;
                                    font-size: 13px !important;
                                    position: relative;
                                    float: left;
                                    transition: all 0.2s ease;
                                }
                            }
                            &:active {
                                background-color: #f5f5f5;
                                // color: #0da06e;
                                border-left: 4px solid #149561;
                                transition: all 0.2s ease;
                            }
                            &:hover {
                                background-color: rgba(0, 0, 0, 0.15);
                                border-right: 4px solid rgba(0, 0, 0, 0.15);
                                transition: all 0.2s ease;
                            }
                        }
                        ul {
                            border-right: 0px dotted rgba(0, 0, 0, 0.5);
                            li {
                                &:active {
                                    a {
                                        label {
                                            font-weight: bold !important;
                                            color: #0da06e !important;
                                        }
                                    }
                                }
                                a {
                                    color: #555555;
                                    text-decoration: none;
                                    cursor: pointer;
                                    font-size: 12px;
                                    line-height: 17px;
                                    display: block;
                                    padding: 6px 75px 6px 6px;
                                    transition: all 0.3s;
                                    position: relative;
                                    background-color: #eaeaea;
                                    border-right: 0px solid #eaeaea;
                                    // border-bottom: 1px solid #e0dddd;
                                    label {
                                        font-weight: normal !important;
                                    }
                                    &:hover {
                                        label {
                                            font-weight: bold;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    &.sidebar-sm {
        background-color: #fff;
        // width: 48px;
        border-top-left-radius: 16px;
        transition: all 0.2s ease;
        z-index: 102;
        .main-logo {
            width: 48px;
        }
        .scroll-inside {
            height: calc(86vh - 100px);
            overflow: visible;
            width: 48px;
        }
        .footer-settings {
            bottom: 0px;
            width: 48px;
            a {
                label {
                    display: none;
                }
            }
        }
        .accordian {
            width: 48px;
            overflow: visible;
            ul {
                li {
                    h3 {
                        a {
                            label {
                                display: block;
                                transition: all 0.2s ease;
                                position: absolute;
                                right: 44px;
                                top: calc(48px/2);
                                z-index: 99;
                                transform: translate(45px, -50%);
                                background: #7c7c7d;
                                color: #fff;
                                max-width: 14px;
                                font-size: 11px;
                                white-space: nowrap;
                                line-height: 100%;
                                padding: 5px 15px;
                                border-radius: 5px;
                                opacity: 0;
                            }
                            i {
                                padding: 0 0px;
                                transition: all 0.2s ease;
                                &.left_icon {
                                    display: none;
                                }
                            }
                            span {
                                position: absolute;
                                right: 10px;
                                top: 10px;
                                font-size: 0;
                                width: 10px;
                                height: 10px;
                            }
                            &:hover {
                                label {
                                    transform: translate(0, -50%);
                                    right: 60px;
                                    max-width: inherit;
                                    opacity: 1
                                }
                            }
                        }
                    }
                    ul {
                        display: none !important;
                    }
                }
            }
        }
        [data-tooltip]::before {
            display: none;
        }
        [data-tooltip]::after {
            display: none;
        }
    }
    /**
    * Tooltip Styles
    */
    /* Add this attribute to the element that needs a tooltip */
    [data-tooltip] {
        position: relative;
        z-index: 2;
        cursor: pointer;
    }
    /* Hide the tooltip content by default */
    [data-tooltip]:before,
    [data-tooltip]:after {
        visibility: hidden;
        //   -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
        //   filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=0);
        opacity: 0;
        pointer-events: none;
        transition: all .5s ease;
    }
    /* Position tooltip above the element */
    [data-tooltip]:before {
        position: absolute;
        top: 115%;
        left: 50%;
        margin-bottom: 5px;
        margin-left: -80px;
        padding: 7px;
        width: 180px;
        border-radius: 4px;
        background-color: #555555;
        background-color: #555555;
        color: #fff;
        content: attr(data-tooltip);
        text-align: center;
        font-size: 11px;
        line-height: 1.5;
        z-index: 2;
    }
    /* Triangle hack to make tooltip look like a speech bubble */
    [data-tooltip]:after {
        position: absolute;
        top: 50px;
        left: 50%;
        margin-left: -5px;
        width: 0;
        border-top: 5px solid #000;
        border-top: 5px solid hsla(0, 0%, 20%, 0.9);
        border-right: 5px solid transparent;
        border-left: 5px solid transparent;
        transform: rotate(180deg);
        content: " ";
        font-size: 0;
        line-height: 0;
    }
    /* Show tooltip content on hover */
    [data-tooltip]:hover:before,
    [data-tooltip]:hover:after {
        visibility: hidden;
        //   -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
        //   filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=100);
        opacity: 0;
    }
}

.backToTop {
    background: #07c880;
    color: #FFFFFF;
    position: fixed;
    text-align: center;
    font-size: 19px;
    padding-top: 8px;
    left: 26px;
    border-radius: 50%;
    bottom: 25px;
    width: 63px;
    height: 63px;
    background-image: radial-gradient(circle at 50% 50%, #07c880, #0da06e);
    cursor: pointer;
    z-index: 1;
    line-height: 50px;
}

.card-block {
    display: block;
    border-radius: 8px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.2);
    background-color: #ffffff;
    padding: 24px !important;
    overflow: hidden;
    .card-header {
        padding: 1.5rem 1.25rem;
        margin-bottom: 0px;
        background-color: #fff;
        border-bottom: 0px solid rgba(0, 0, 0, 0.125);
        margin: -20px -20px 0;
        height: 68px;
        h5 {
            font-size: 18px;
            font-family: bukrabold;
            color: #000;
            line-height: 1.3;
        }
    }
    .inner-card {
        background-color: #f7f7f7;
        background-image: linear-gradient(to bottom, #f1f1f1, #ffffff 15%, #ffffff 81%, #f7f7f7);
        margin: 0 -24px 30px;
        padding: 30px 24px;
    }
}